<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <listener>
    <listener-class>Servlets.ListenerServlet</listener-class>
  </listener>

  <servlet>
    <servlet-name>CreateNewQuestionsServlet</servlet-name>
    <servlet-class>Servlets.CreateNewQuestionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateNewQuestionsServlet</servlet-name>
    <url-pattern>/CreateNewQuestionsServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CreateNewQuizServlet</servlet-name>
    <servlet-class>Servlets.CreateNewQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateNewQuizServlet</servlet-name>
    <url-pattern>/CreateNewQuizServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>Servlets.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FriendRequestCountServlet</servlet-name>
    <servlet-class>Servlets.FriendRequestCountServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FriendRequestCountServlet</servlet-name>
    <url-pattern>/friendRequestsCount</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>

</web-app>
